<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <h4><strong>{{ 'user.layout.title'|trans }}</strong>
                </h4>
                <p>11, rue d'Alesia
                    <br>75014 Paris
                </p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i><a href="tel:+0652819137">06 52 81 91 37</a></li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:ayoub.belkadi@gmail.com">ayoub.belkadi@gmail.com</a>
                    </li>
                </ul>
                <br>
            </div>
            <div class="col-lg-4   text-center">
                <ul class="list-inline">
                    <li>
                        <a href="https://fr-fr.facebook.com/marmiton/"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/marmiton_org"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/marmiton_org/"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 text-center">
                <h4><strong>{{ 'user.layout.title'|trans }}</strong>
                </h4>
                <p>{{ 'site.footer.about'|trans }}</p>
                <p>{{ 'site.footer.abouttext'|trans }}</p>
            </div>
        </div>
        <div class="col-lg-12   text-center">
            <hr class="small">
            <p  >Copyright &copy; Ma Cuisine 2016</p>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>