<!-- partner -->
<section id="partner" class="partner bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Partenaires</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <img src="{{ asset('public/img/kadeo.jpg') }}" width="80%" height="100px" class="img-partner">
                            <h4>
                                <strong>Kadéo</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <button type="button" href="#" class="btn btn-light" data-toggle="modal" data-target="#modal">En Voir Plus</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <img src="{{ asset('public/img/fnac.jpg') }}" width="50%" height="100px" class="img-partner">
                            <h4>
                                <strong>Fnac</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <button type="button" href="#" class="btn btn-light" data-toggle="modal" data-target="#modal">En Voir Plus</button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <img src="{{ asset('public/img/gaumont.jpg') }}" width="60%" height="100px" class="img-partner">
                            <h4>
                                <strong>Gaumont</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <button type="button" href="#" class="btn btn-light" data-toggle="modal" data-target="#modal">En Voir Plus</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
