
<div class="col-md-3">
<div class="offre-item">
<div id="wrapper">
<img src="{{ asset('public/img/starwars.jpg') }}" class="hover" >
<p class="titleDish">Temp</p>

<p class="text">
<a href="{{ absolute_url(path(url)) }}"  class="btn btn-dark">{{ 'itemThumbnail.module.seemore'|trans }}</a></p>

</div>
</div>
</div>
